*{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: simkai;
    src: url(../typeface/times.ttf);
}
.f1{
    color: #000;
    width: 100%;
    height: 370px;
    background: #3498db;
}
.f1_div{
    width: 1000px;
    margin: 0 auto;
}
.f1_h1{
    padding-top: 210px;
    margin-bottom: 40px;
    font-size: 40px;
}
.f2{
    margin: 0 auto;
    width: 1000px;
    line-height: 40px;
    margin-top: 20px;
    font-size: 19px;
    font-family: simkai;
}
.f3 {
    margin: 0 auto;
    width: 1000px;
    line-height: 28px;
    margin-top: 50px;
}
/*.f4 {
    margin: 0 auto;
    width: 1000px;
    line-height: 28px;
}
*/
.f5{
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
    line-height: 40px;
    margin-top: 20px;
    font-size: 19px;
    font-family: simkai;
}
.f6{
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
    line-height: 40px;
    margin-top: 20px;
    font-size: 19px;
    font-family: simkai;
}